body {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.body_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 0px;
}
*{
  margin: 0px;
  padding: 0px;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media (max-width: 770px){
  .body_container{
    margin: 0 10%;
  }
  .image{
    width: 100%;
  }
}